// -------------------------------
// 404
// -------------------------------

.post--404 {
	@include block;
	text-align: center;
	padding: 30px;
	margin-top: 45px;
	margin-bottom: 0;

	h1 {
		font-size: 200px;
		color: $color-yellow;
		text-shadow: 0px 9px 20px rgba($color-yellow,0.45);
		line-height: 1;
		margin-top: -100px;
	}

	.back-to-home {
		margin: 50px 0 30px;
	}

	@media (max-width: $screen-sm-max) {
		h1 {
			font-size: 120px;
		}

	}
}