// -------------------------------
// FOOTER
// -------------------------------

.footer {
	border-top: 1px solid darken($color-bg, 10);
	font-size: 14px;

	a {
		color: $color;

		&:hover {
			color: $color-blue;
		}
	}

	&--main {
		margin-top: 90px;
	}
}

.footer__content {
	padding: 90px 0;
	list-style: none;

	[class*="widget_"] {
		ul {
			list-style: none;
			padding-left: 0;
		}

		li:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	h4 {
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm) {
		@include display(flex);
		margin: 0 -$margin;

		> li {
			@include flex(1 0 50%);
			padding: 0 $margin;
		}
	}

	@media (max-width: $screen-sm - 1px) {
		> li {
			margin-bottom: $margin*3;
		}
	}
}

.footer__bottom {
	font-size: 13px;
	@include display(flex);

	.menu ul {
		list-style: none;
		padding-left: 0;
	}

	.copyright {
		margin-left: auto;
	}
}