// -------------------------------
// HEADER
// -------------------------------

.header {
	text-align: center;
	padding: 70px 0;
	position: relative;

	&__title {
		font-size: 0;
		height: 0;
		margin: 0;
	}
}

.site-description {
	color: $color-lighter;
	font-size: 13px;
	margin-bottom: 0;
}