// -------------------------------
// SINGULAR
// -------------------------------
.main {
	background: #fff;
	padding: 45px 0;
}

.post__header {
	text-align: center;
	margin-bottom: 45px;
}


// -------------------------------
// SINGLE
// -------------------------------

.single {
	.svg--text {
		fill: #fff;
	}
}

// -------------------------------
// PAGE
// -------------------------------