// -------------------------------
// VAR
// -------------------------------

$color: darken(#6d6a7a,3);
	$color-darker: #3a3746;
	$color-lighter: #aaa6ba;
$color-bg: #f6f6f6;
$color-teal: #20c5b6;
$color-blue: #2974dd;
$color-yellow: #ffaf00;

$box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

$font-montserrat: 'Montserrat', sans-serif;
$font: 'Helvetica Neue', Arial, sans-serif;

$margin: 15px;

$screen-sm: 480px;
$screen-md: 690px;
$screen-lg: 1020px;

$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;


// -------------------------------
// MIXIN
// -------------------------------

@mixin block() {
	background: #fff;
	box-shadow: 0 2px 5px 0px rgba(89,78,132,.3);
}

@mixin btn(){
	color: #fff;
	display: inline-block;
	background: $color-teal;
	padding: 10px 20px;
	font-family: $font-montserrat;
	font-size: 15px;

	&:hover {
		color: #fff;
		box-shadow: 0 3px 8px rgba($color-blue,.5);
		background: $color-blue;
	}
}
